<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', path='/img/favicon.jpg') }}" type="image/x-icon"/>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/styles.css') }}" type="text/css"/>
    <title>pastor: create paste</title>
</head>
<body>
    <div class="header">
        <h1 class="title royalblue">[<a class="link title" href="/">pastor</a>]</h1>
        <div class="header-actions">
            <span id="error-container"></span>
            <form id="createPasteForm" action="/" method="POST">
                <span>[</span><a class="link royalblue" onclick="createPaste()">create paste</a><span>]</span>
            </form>
        </div>
    </div>
    <textarea name="paste" id="paste" placeholder="type text here..."></textarea>
    <script>
        function createPaste() {
            const pasteText = document.getElementById('paste').value; 
            fetch('/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'text/plain; charset=utf-8',
                },
                body: pasteText
            })
            .then(response => {
                // check for 5xx server errors
                if (response.status >= 500) {
                    throw new Error('internal server error, try again later');
                }
                return response.json()
            })
            .then(data => {
                if (data.detail) {
                    throw new Error(data.detail);
                }
                if(!data.paste_id) {
                    throw new Error('internal server error, try again later');
                }
                window.location.href = `/${data.paste_id}`;
            })
            .catch(error => displayError(error));
        }
        function displayError(error) {
            document.getElementById('error-container').innerText = error.message;
        }
    </script>
</body>
</html>
