<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', path='/img/favicon.jpg') }}" type="image/x-icon"/>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/styles.css') }}" type="text/css"/>
    <title>pastor: legal</title>
    <style>
        .legal-box {
            border: 2px solid black;
            padding: 5px;
            border-radius: 2px;
            border-width: 1px;
            height: max-content;
        }
    </style>
</head>
<body>
    <div class="header">
        <h1 class="title royalblue">[<a class="link title" href="/">pastor</a>]</h1>
        <h2>Terms of Service and Privacy Policy</h2>
    </div>
    <div class="legal-box">
        <p>
            These Terms of Service ("Terms") govern your use of this Service, and our commitment to your privacy.
            <br>
            By using the Service, you agree to the following:
        </p>
        <ol>
            <li>User-Generated Content: We are not responsible for user-generated content ("Content").</li>
            <li>Views of Authors: Content submitted reflects the views of the author only.</li>
            <li>Age Restriction: This Service is for users who are at least 18 years old.</li>
            <li>Content Review: All Content may be reviewed by us.</li>
            <li>Prohibited Content: Do not submit illegal or malicious Content.</li>
            <li>Responsibility: You are responsible for the Content you submit and any resulting harm.</li>
            <li>Content Modification and Removal: We may remove or modify Content at any time.</li>
            <li>Commercial Use: Prior approval is required for third-party commercial use.</li>
            <li>Termination: We may terminate your access at any time.</li>
        </ol>
        <p>
            We respect your privacy and commit to the following:
        </p>
        <ol>
            <li>Data Collection: We collect and store minimal data, including your IP address and browser user-agent.</li>
            <li>Data Usage: This data is used solely for the purpose of operating and improving the Service.</li>
            <li>Data Sharing: We do not share your data with third parties.</li>
            <li>Data Security: We take appropriate measures to protect your data from unauthorized access.</li>
            <li>User Rights: You have the right to request information about your data and to request its deletion.</li>
        </ol>
        <p>
            Your use of the Service implies acceptance of these Terms and this Privacy Policy.
            <br>
            We reserve the right to amend these Terms and the Privacy Policy at any time without notice.
            <br>
            If you wish to contact us, please email us at <a href="mailto:admin@requef.com">admin@requef.com</a>, describing your issue.
        </p>
        <p>
            Last Updated: October 9, 2024
        </p>
    </div>
</body>
</html>
